
    body {
        background-image: url('static/taskbook/images/notebook.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .auth-form {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px;
        text-align: center;
    }

    .auth-form form {
        display: flex;
        flex-direction: column;
    }

    .auth-form input {
        margin: 8px 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .auth-form input[type="submit"] {
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }

    .auth-form a {
        color: #007bff;
        text-decoration: none;
    }

    .auth-form a:hover {
        text-decoration: underline;
    }
