<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
    
    <div id="task-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="taskname" placeholder="enter eventame" required>
            <input type="text" name="location" placeholder="enter event location"required>
            <input type="number" name="mobile" placeholder="enter mobile number">
            <input type="datetime-local" name="timedate" placeholder="enter date and time">
            <input type="detail" name="details" placeholder="enter detail"required>
            <input type="submit" name="createtask" value="Create Task" >
        </form>
    </div>
    <a href="{% url 'homepage' %}">Home</a>
</body>
</html>