{% load static %}
{% include 'taskbook/header.html' %}
    <title>Create Page</title>
   <link rel="stylesheet" href="{% static 'taskbook/css/create.css' %}">
</head>
<body style="background-image:url(taskbook/static/taskbook/images/book.jpg);" >
    <br><br>
    <div class="container">
    
        <div id="task-form">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="taskname" placeholder="Enter Event Name" required>
                <input type="text" name="taskid" placeholder="It is automatically filled as logic in views" >
                <input type="text" name="location" placeholder="Enter Event Location" required>
                <input type="number" name="mobile" placeholder="Enter Mobile Number">
                <input type="datetime-local" name="timedate" placeholder="Enter Date and Time">
                <input type="detail" name="details" placeholder="Enter Detail" required>
                <input type="submit" name="createtask" value="Create Task">
                {% if messages %}
                {{ messages }}
                {% endif %}
            </form>
        </div>
    </div>
    <br><br><br><br>
{% include 'taskbook/footer.html' %}
