{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'taskbook/css/form.css' %}">
<title>NOTE BOOK</title>
</head>
<body style="background-image:url(taskbook/static/taskbook/images/book.jpg);">
    <div class="auth-form" id="login-form" style="background-image:url(taskbook/static/taskbook/images/notebook.jpg);
    " >
      
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="login" value="login">
        </form>
        {% if error_message %}
        <p style="color: red;"> {{error_message}}</p> 
          {% endif %}
        <p>If Not registered</p><a href="{% url 'signuppage' %}">Create New Account</a>
    </div>
</body>
</html>
