{% load static %}
{% include 'taskbook/header.html' %}
    <div class="container">
        <header>  
               <h2>Your Tasks </h2>
            <form method="get">
                {% csrf_token %}
                <input type="search" name="q"  placeholder="search" >
                <input type="submit" >
            </form>
       
            <a href="{% url 'logoutpage' %}">Log Out</a>
        </header>

        <!-- <input type="hidden" name="user_id" value="{{ user.id }}"> -->

        <table>
            <tr>
                <th>Task ID</th>
                <th>Task Of</th>
                <th>Task Name</th>
                <th>Task Location</th>
                <th>Task Timing and Date</th>
                <th>Contact</th>
                <th>Task Details</th>
                <th>Operations</th>
            </tr>
          
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.usertask }}</td>
                <td>{{ task.taskname }}</td>
                <td>{{ task.location }}</td>
                <td>{{ task.timedate }}</td>
                <td>{{ task.mobile }}</td>
                <td>{{ task.details }}</td>
                <td><a href="{% url 'updatepage' task.id %}">Update</a><hr>
                    <a href="{% url 'deletepage' task.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        {% if message %}
        <p> {{ message}}</p>
        {% endif %}
        <a class="create-link" href="{% url 'createpage' %}">Create Task</a>
    </div>
   
    <br><br><br><br><br><br><br><br><br><br>
{% include 'taskbook/footer.html' %}
