{% load static %}
{% include 'taskbook/header.html' %}
    <title>Update Page</title>
   
   <link rel="stylesheet" href="{% static 'taskbook/css/update.css' %}">
</head>
<body style="background-image:url(taskbook/static/taskbook/images/book.jpg);" >
    <br><br>
    <div class="container">
        
        <form method="post">
            {% csrf_token %}
            <input type="text" name="taskid" value="{{ tasks.usertask }}">
            <input type="text" name="taskname" value="{{ tasks.taskname }}">
            <input type="text" name="location" value="{{ tasks.location }}">
            <input type="number" name="mobile" value="{{ tasks.mobile }}">
            <input type="datetime-local" name="timedate" value="{{ tasks.datetime }}">
            <input type="detail" name="details" value="{{ tasks.details }}">
            <input type="submit" name="updatetask" value="Update Task">
        </form>
    </div>
    <br><br><br><br>
{% include 'taskbook/footer.html' %}
